*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {  
    padding: 50px;  
  background-color: grey;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
input[type=radio]{
  margin-left: 50px;
}
 .div {  
            padding: 20px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}
#res{
  color: green;
  font-weight: bold;
  
}




@media (max-width:310px){

  input[type=radio]{
  margin-left: 20px;
}
}

@media (max-width:355px){

  input[type=radio]{
  margin-left: 10px;
}
}



