/*services*/
#services{
    padding: 10px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
    grid-gap: 80px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.services-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    margin-top: 20px;
    background-color: royalblue;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    
}
@media (max-width: 500px){
    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
        grid-gap: 80px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .services-list div{
        background: #262626;
        padding: 30px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
    }
    
}